ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.background {
    width: 100%;
    height: 98vh;
    background-image: url(../img/background/backGame2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

    .insert-name {
        width: 100%;
        height: 98vh;
        color: #00ea88;
        text-shadow: 3px 3px 3px #008e4c;
        font-weight: none;
        text-align: center;
        background-image: url(../img/background/backTeste.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        position: absolute;
        top: 30px;
    }

    .insert-name>h2 {
        font-weight: lighter;
    }

    .form {
        position: relative;
    }

        .form h2 {
            width: 35%;
            margin: 0 auto;
            word-break: break-word;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: lighter;
            text-shadow: 2px 2px 1px #008e4c
        }

        .form input[type="text"] {
            display: inline-block;
            box-sizing: border-box;
            border: none;
            width: 20%;
            height: 45px;
            padding: 10px 20px;
            border-radius: 50px;
            font-size: 18px;
            font-family: 'Permanent Marker', Arial, Serif;
            color: #75c5be;
            box-shadow: 3px 3px 15px #438585;
        }

        ::-webkit-input-placeholder {
            color: #75c5be;
            font-family: 'Permanent Marker', Arial, Serif;
        }

            .form input[type="button"] {
                display: inline-block;
                border: none;
                cursor: pointer;
                width: 6%;
                height: 45px;
                border-radius: 50px;
                font-size: 30px;
                color: #fff;
                background-color: #09c7fb;
                background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
                position: absolute;
                top: 71%;
                left: 55%;
            }

        .form input[type="button"]:hover {
            transition: all 2s ease;
            background-color: #00bfb2;
            background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
        }

#container .style-box {
    display: inline-block;
    width: 30%;
    height: 60px;
    padding: 8px 22px;
    background: #fff;
    border-radius: 50px;
    /* margin: 0; */
    font-size: 30px;
    box-sizing: border-box;
}

#container ul + h2 {
    width: 28%;
    position: absolute;
    top: 0;
    left: -300px;
}

#container .best-score {
    width: 45%;
    height: 20vh;
    border-radius: 20px;
    padding: 0 20px;
    background: url(../img/background/owlScore.png) top left no-repeat;
    background-size: 50%;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;

    position: absolute;
    top: 100px;
    left: -354px;
/* 
    display: none; */
}

   .best-score h2 {
       margin: 0;
        font-size: 30px;
    }

   .best-score li {
       margin: 0;
       font-size: 30px;
    }

#container a + h2 {
    width: 35%;
    position: absolute;
    top: 0;
    right: -300px;
    background-color: tomato;
}

.more {
    position: absolute;
    top: -20px;
    right: -244px;
    animation-name: score-anima;
    animation-duration: 3s;
    display: none;
    color: teal;
}


/* Key Frames */

 @keyframes score-anima{
    0%{transform: translateY(-10px);}
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-20px);
    }
} 